[2018-03-21 12:57] timkinnane opened #1 "Problem with asynchronous test assertions"
I had to disable the following tests because they were breaking the next set of tests. I think the assertions related to connection timeouts that should return an error, are actually returning null. However, due to the structure of the test, the test resolves before the assertion is made, so the assertion fails during following tests that have nothing to do with the original error.
Need to rewrite

[2018-04-05 22:43] timkinnane opened #3 "README.md needs update with 0.1.0 methods"
HI @Sing-Li, I just read your usage instructions. Thanks very much, these are much clearer than my originals. It helps a lot to have another person digest it. There's just a few updates since [the latest commit](https://github.com/RocketChat/Rocket.Chat.js.SDK/commit/5e134f3905afe91e67acc95712a531fe20b9434b). I added a driver method `respondToMessages` that includes the filtering logic that was in

[2018-04-19 04:33] timkinnane opened #4 "Upgrade to Asteroid v2 or find a better maintained DDP client"
Asteroid v2 provides two improvements over v1; more consistent use of async methods and a more useful connection object. Specifically, connections can actually be cancelled / disconnected.

The problem is, they dropped their internal DDP methods in favour of a mixin model. The DDP mixin they provide as an external module now has a different interface and I couldn't get it working with our existing

[2018-04-26 01:22] timkinnane opened #5 "Add API helpers in SDK to deprecate `bot-helpers` in core"
The current `bot-helpers` package in Rocket.Chat core was an experiment in accessing user collections for bot scripts. It hasn't been widely implemented but had some good concepts, like helper methods to get all `onlineUsers` and other ways of querying subsets of users. The admin setting to control what user fields bot users have access to is also good for security and privacy.

However, it ultima

[2018-04-29 06:37] mikaelmello commented on #1
This happens because inside `driver.connect`, whenever a connection reaches the timeout, it calls the callback (or rejects the Promise), however the Promise is still there executing, with `events.once('connected')` waiting for a connection

Therefore, when the next tests tries to connect and succeeds, all the previous tests that were waiting for a `connected` event get one each in the 4 following

[2018-05-01 11:04] #1 closed

[2018-05-01 11:08] timkinnane opened #7 "Add missing env variables from adapter"
While writing developer docs I noticed that the Hubot Adapter implements a few environment variables that aren't used in the SDK. Namely:
- `ROCKETCHAT_USER`
- `ROCKETCHAT_PASSWORD`
- `ROCKETCHAT_ROOM`
- `ROCKETCHAT_USESSL`

These should all be carried over to the SDK so bots in other frameworks can set them in a consistent way. Ideally, the only additional environment variables required in the ad

[2018-05-03 14:31] arthurTemporim commented on #7
In dist/utils/config.js:

// The Bot user, will attempt to login and run methods in tests
exports.botUser = {
    email: 'bot@localhost',
    name: 'Bot',
    password: process.env.ROCKETCHAT_PASSWORD || 'pass',
    username: process.env.ROCKETCHAT_USER || 'bot',
    active: true,
    roles: ['bot'],
    joinDefaultChannels: true,
    requirePasswordChange: false,
    sendWelcomeEmail: false,

[2018-05-03 14:33] timkinnane commented on #7
No the `utils` methods are only used in tests. Don't worry about it though, I've actually got a fix I'm about to push.

[2018-05-04 01:34] #7 closed

[2018-05-04 23:36] timkinnane opened #8 "Rocket.Chat CI container for SDK tests"
SDK tests require a parallel instance of Rocket.Chat (provisioned by the `utils/setup.ts` script) to run test interactions.

Currently it can only pass tests in local development, because it requires a manually provisioned instance to be running on localhost. Would be best if it can be scripted to create it's own temporary docker instance of Rocket.Chat, so tests can run in the CI environment.

Th

[2018-05-05 01:14] JSzaszvari commented on #8
@timkinnane Did you want me to sort this out for you? Would take me a hour or two

[2018-05-05 02:02] timkinnane commented on #8
@JSzaszvari Amazing. No hurry though, kinda just flagging it so I don't forget.

It just needs these env vars for defaults `ADMIN_USERNAME=admin` and `ADMIN_PASS=pass`

Would this be something you'd set up within Circle CI as some kind of pre-test requirement, or could it run from command line script so it can be used locally too. The latter would be nice for anyone wanting to do development, so t

[2018-05-05 02:09] JSzaszvari commented on #8
@timkinnane I would set it up so that it spins everything up locally. Using a external CI service, like you said would just be too slow for a Dev environment

[2018-05-05 02:11] timkinnane commented on #8
@JSzaszvari Cool, but I guess that would allow the same process to be automated in Circle CI anyway right? That would be nice so we can get green lights on PRs.

[2018-05-05 02:29] JSzaszvari commented on #8
It should (In theory) I'll give it a try and make sure it works. Haven't used Circle in a while (I use GitLab CI and Jenkins) but I'm sure it won't be a issue

[2018-05-07 02:29] timkinnane opened #9 "Fix docs generation and publish to GH pages"
I've used [Typedoc](http://typedoc.org/) to generate docs from inline docs. This provides much more complete documentation than the readme and can be generated locally by running `yarn docs` or `npm run docs`.

I committed these files and tried to publish the docs folder as a GH pages site, but it couldn't read them for some reason. Would love someone to test this on a fork and make the proper doc

[2018-05-07 04:09] timkinnane commented on #5
I've now added some of the `bot-helpers` methods to be accessed from `api.users`, see the demo script here: https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/master/src/utils/users.ts

Run the above via `ts-node src/utils/users.ts` to get the output of all user queries.

However, I found that Rocket.Chat does not return the user's role from the bot's API queries.
See https://github.com/RocketC

[2018-06-01 05:20] timkinnane opened #10 "Respond callback tests fail for some"
https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/7c00169094db95c451db0bc2b164eaa87cba8217/src/utils/testing.ts#L41-L47

The `sendFromUser` test utility can sometimes resolve too early, so test assertions are made before the message appears. I think API post request completes before the change event emits the message to the streamer. I'm adding an interval to check for proof of receipt and not

[2018-06-02 00:28] #10 closed

[2018-06-02 10:51] timkinnane opened #11 "Prevent password logging"
SDK logs write the loaded config under `INFO [connect] {...}`.
Would be nice if the logger could filter the password settings - which should apply anywhere, but at the least it should be a `DEBUG` log.

[2018-06-06 15:19] morman commented on #11
+1

[2018-06-09 16:03] morman commented on #11
In my case I had to set the bot's log level to "warning" to hide the INFO messages with secrets. Which then forced me to emit useful log messages (e.g. "User X has invited User Y to Github") as **warnings**, so that's less than ideal. Warning: something good has happened. :(

[2018-06-10 02:43] timkinnane commented on #11
I'm away for a couple weeks, but will look into it when I'm back if no one else presents a solution. The SDK accepts and uses the logger from Hubot, so there's no option for a smart filter in that, the way some loggers do. For info and more importantly debug logs, I think it would require logging a clone of the config and login data that deletes the password attribute. Probably by wrapping any log

[2018-06-22 06:39] timkinnane opened #16 "Add config to ignore other bots"
There's a few issues on the hubot adapter and Rocket.Chat core repo around something best described as "bot-on-bot mayhem" - where a bot will reply to another bot, both may have autoresponders - sorry, i don't understand you, sorry _i_ don't understand **you** - the result is a self inflicted ddos.

There's ways to avoid it with bot scripts, but [changes made to core handling of the bot type attri

[2018-06-28 11:50] filipef101 opened #17 "[not a bug] Help"
Hello, Do any of you know where I would start to port this to non node JS, as I wanted to use this in a react react native app but doesnt seem to be supported, any idea? Thanks

[2018-06-28 11:55] timkinnane commented on #17
@filipef101 There was a user working on something like that, @abhi_hk95 on open.rocket.chat.
I think it would be ideal if this package could be adapted to work on the client side as well, in react apps etc. I think the issue is certain node utilities in use are only available on the server. I'd like to understand it better and would be happy for anyone who did to provide a description of how it mi

[2018-06-28 12:05] filipef101 commented on #17
@timkinnane  this package basically uses https://github.com/RocketChat/asteroid from what I see, which by itselft seems to use packages that are not compatible with react for example, like faye-websocket, again I don't know much. Maybe its not possible due to dependencies :/

[2018-06-28 12:09] filipef101 commented on #17
@abhishek71994

[2018-06-28 13:02] timkinnane commented on #17
@filipef101 have a look at the work on #4 - there's some effort already to replace asteroid with a custom DDP client, I think using https://www.npmjs.com/package/ws - though I don't know if that presents the same problem for react?

[2018-06-28 13:03] timkinnane commented on #17
ping @JoseRenan

[2018-06-28 16:48] abhishek71994 commented on #4
Is this issue taken up by you @JoseRenan ?

[2018-06-30 04:52] timkinnane opened #18 "Fix param typing on methods that proxy to prepare message"
The params on methods like `sendToRoom` are defined as if they only accept strings, but they pass any provided content to `prepareMessage` which also accepts an object with message attributes. The typings should be updated to allow that too.

- https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/be6855e333907cef7a6a8154f189bba38da9ca84/src/lib/driver.ts#L553
- https://github.com/RocketChat/Rocke

[2018-07-01 19:34] JoseRenan commented on #17
The WebSocket implementation used on [Rocket Chat's react native client](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/ddp.js) is the one that is built into the browsers. Searching now, the one which is used on #13 (https://www.npmjs.com/package/ws) is not compatible with browsers (I think it's the only library used that is not compatible with browsers after removing a

[2018-07-01 19:34] JoseRenan commented on #4
Yes  :+1:

[2018-07-01 22:08] filipef101 commented on #17
@JoseRenan Not sure if I'm following you. what would be the best aproach for this? a whole diferent package? Also I just stumbled upon this minutes ago. https://github.com/mongrov/roverz

[2018-07-01 22:10] filipef101 commented on #17
In the last days i've been trying to port the code on https://github.com/RocketChat/Rocket.Chat.ReactNative to our app but haven't finished yet and still not sure if with success

[2018-07-02 00:15] JoseRenan commented on #17
[This library](https://github.com/heineiuo/isomorphic-ws) choose between the nodejs WebSocket and the browser's one (and is recommended on https://www.npmjs.com/package/ws), I think it solves the portability problem in #13 with the migration from asteroid. What do you think, @timkinnane?

[2018-07-02 03:21] timkinnane commented on #17
I'm not concerned which package is used under-the-hood to achieve in-browser support as long as the original tests pass and new test/s are added to ensure new client functionality gets the same results. Something like [mocha phantomjs](https://github.com/nathanboktae/mocha-phantomjs) could be used for that. I'm not too familiar with headless browser testing, so maybe there's better tools, but I li

[2018-07-13 13:04] waglik opened #19 "User has no password set"
Hi

I am trying to connect to our rc installation but have an issue at login.  When I try to log in a browser credentials works just fine :

[code]

[2018-07-14 00:41] timkinnane commented on #19
@waglik How are you supplying credentials to the SDK?
You can set it as an environment variable, or pass it directly to the login method.
- env: https://github.com/RocketChat/Rocket.Chat.js.SDK#settings
- login: https://github.com/RocketChat/Rocket.Chat.js.SDK#quick-start

[2018-08-01 09:52] waglik opened #20 "Logging with LDAP:true crashes with TypeError"
Hi

When I try to log in with ldap flag set to true app crashes :

`const { driver } = require('@rocket.chat/sdk');
const runbot = async () => {
    const conn = await driver.connect( { host: HOST, useSsl: SSL})
    myuserid = await driver.login({username: USER, password: PASS, ldap:true});
`

fails with error message :

(node:7576) UnhandledPromiseRejectionWarning: Unhandled promise rejection (re

[2018-08-07 12:12] xvilo opened #21 "getRoomIdByNameOrId not working for private rooms"
Using the easy bot example provided in the readme, I can not get `getRoomIdByNameOrId` for private rooms.

Sample debug info:

[code]

as you can see `getRoomNameById ` works, but `getRoomIdByNameOrId ` doesn't. Can some help me out or point me in the right direction here?

[2018-08-08 06:04] timkinnane commented on #21
Tracked this issue back to core. Please comment there...
https://github.com/RocketChat/Rocket.Chat/issues/11552

[2018-08-08 06:04] #21 closed

[2018-08-08 06:40] timkinnane commented on #20
I've just pushed an update that ignores the LDAP settings. This isn't a fix that allows logging in with LDAP, but it at least prevents throwing due to the missing method call.

Here's what need to happen to resolve this.
1. need a way to test instances with LDAP logins
2. either change login credentials or add a new method to login with LDAP when `ROCKETCHAT_AUTH=ldap`
3. add unit tests for LDAP l

[2018-08-08 09:32] xvilo opened #22 "How to upload files?"
Is it possible to upload files through the SDK? Couldn't find any related methods

[2018-08-08 09:34] piotrkochan opened #23 "Respond to private messages does not work"
Code

[code]

Does not work as expected. Private messages sent to the bot are totally ignored and does not arrive.

[2018-08-08 12:15] piotrkochan commented on #23
nevermind, it started magically working

[2018-08-08 12:15] #23 closed

[2018-08-13 20:16] peebles opened #24 "How to use custom logging?"
It seems like there are console.log()s all over the place.  Sure be nice if those were turned into debug statements using something like [this](https://github.com/visionmedia/debug).

[2018-08-14 00:07] timkinnane commented on #22
Hi @xvilo - You can use the SDK to send custom message objects via `driver.sendMessage()` ([see the Message interface](https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/master/src/config/messageInterfaces.ts)).

So you can add URL for attachments, but to actually "upload" like a user dragging a file into the client, would require the server the SDK is running on to host and stream a file to th

[2018-08-14 01:17] peebles commented on #24
Gotcha.  Thanks.

[2018-08-14 01:17] #24 closed

[2018-08-14 08:03] timkinnane opened #25 "Testing bugs on user join / leave"
I think the `utils.leaveUser` and `utils.inviteUser` methods used in testing are returning too early, allowing the tests to progress **sometimes** before the user is added/removed. It's causing tests to throw every second or third time.

For now I'm just re-running them, because I don't have time for a fix.

[2018-08-14 08:05] #4 closed

[2018-08-17 09:23] nsdev0 opened #27 "driver.js - ignoring edited messages results in an error"
dist/lib/driver.js:397

When checking whether the message was edited or not, it gives an error: '`TypeError: Cannot read property '$date' of null`'.
Occurs because of what typeof message.editedAt is 'object' even if the message was not edited.

[2018-08-17 23:57] timkinnane commented on #27
@nsdev0 That's very odd. There's a condition to see if `editedAt` is **undefined** but I've never seen it come through as **null**.

I've just pushed a fix for the edited message logic that should catch either. Saw your commit on the fork after, but I think it's better to make a loose check on `editedAt` being truthy, to catch undefined or null. Also added tests. Check out [0.2.5](https://www.npmj

[2018-08-18 04:44] timkinnane opened #28 "Review of Client Commands merge"
@mikaelmello - Starting this issue just to collect and resolve any questions about merging your features into the master branch. Currently your PR merged with master is available on feature/client-commands branch.

**waitForClientCommands**

I think this needs more comments. I don't really understand what it does in the case where it's false, it still sends `respondToCommands` but catches error si

[2018-08-18 22:37] mikaelmello commented on #28
@timkinnane first of all, what do you think about renaming from ClientCommands to ClientRequests? It was something I thought of when talking to Arthur yesterday and I don't know if it is less ambiguous. Now that I think more of it ClientRequests can be interpreted as requests coming from the client, so I'd like a second opinion on that.

**waitForClientCommands**

Yeah, the reason behind this was

[2018-08-19 00:09] timkinnane commented on #28
Sounds great. Agree that Client Requests sounds better - request is a more common term for this kind of communication between apps. It also avoids confusion in bots that use "commands" to mean user input.

You should act quickly on that if you decide to change it, to and update the core PR quickly before it's merged.

The driver/clientRequests circular dependency is tricky but maybe there's a way

[2018-08-19 05:04] timkinnane commented on #20
Update on this issue. The "TypeError" is resolved because the LDAP login logic has been removed for now (it never would have worked anyway).

I tried setting up a local LDAP server with [ldapjs](http://npmjs.com/package/ldapjs), to be used by unit tests attempting to pass whatever attributes are required in the ddp login method for ldap.

Unfortunately I don't know enough about the LDAP login requ

[2018-08-20 08:31] nsdev0 opened #30 "Ignore livechat messages if you're not the room participant"
Case:
When a new Livechat starts, it is redirected directly to the bot. The bot can transfer chat to a live person on demand. But after this transfer he continues to listen this room and try to respond to clients messages.

Solve:
Ignore messages in Livechat room if bot is not the room participant.

[2018-08-20 10:16] timkinnane commented on #30
@nsdev0 So the bot has `RESPOND_TO_LIVECHAT=true` but after the handover, it's removed from the room, but continues to receive messages?

Are you just using the bot in livechat? If so, you could try `LISTEN_ON_ALL_PUBLIC=false` - I have a feeling that if that's true, the logic just doesn't filter based on if the bot is in the room, instead applying only the other filters.

If that's the problem he

[2018-08-20 13:24] #27 closed, assigned to nobody

[2018-08-20 13:43] nsdev0 commented on #30
@timkinnane My bad
I can't remember for what but I gave him the role livechat's manager.
That's why he kept getting messages in the transferred room,

[2018-08-21 06:34] #30 closed

[2018-09-25 09:17] GiverOfGifts opened #36 "Will proxy usage be implemented?"
I've been trying to use this sdk's api with a proxy but was unable to find an option to do so.
It would be nice if I could set a proxy with environment variables (http_proxy / https_proxy) but I don't think node-rest-client supports this.

Are there any plans to implement proxy usage?

[2018-10-01 02:09] timkinnane commented on #36
@GiverOfGifts Node rest client is only used for the API helpers in the SDK. How are you using it? It's most commonly a component of Rocket.Chat bot adapters, so it's interesting to hear different implementations and will help to answer your question.

There's currently some PRs that need to be merged which includes replacing node-rest-client with [Axios](https://github.com/axios/axios). Would that

[2018-10-01 14:33] GiverOfGifts commented on #36
@timkinnane I want to synchronize user information from a central database with RocketChat regularly. The database is in a private network. In its current setup I can only run a VM inside this network to grab user data, then update RocketChat over a proxy.

The PRs that replace nrc with Axios should work: https://github.com/axios/axios/blob/master/README.md#request-config

  // `https_proxy` envir

[2018-10-01 14:33] #36 closed

[2018-11-12 14:18] #9 closed

[2018-11-12 14:18] #16 closed

[2018-11-12 14:18] #18 closed

[2018-11-12 14:18] #3 closed

[2018-11-12 14:18] #5 closed

[2018-11-12 14:19] #25 closed

[2018-11-12 14:23] timkinnane opened #38 "Room meta issue in core breaking compatibility"
There's a related issue I opened in core 👉 https://github.com/RocketChat/Rocket.Chat/issues/12574

Until that is resolved, the `respondToMessages` method can't determine if the user consuming the SDK should receive messages in their stream.

Hopefully that's resolved before going into a release. This issue is to ensure it's followed up from this side if changes are required or anyone comes looking

[2018-11-20 09:46] sethunath opened #39 "How can I add multiple bots ?"
How can I listen to the chats to multiple bots ? Suppose I want to reply to messages to bot1 and bot2 from the same application. Currently we can create only import #one driver object in a node process when you import driver from sdk. How do I create separate driver objects ?

[2018-11-20 14:40] sethunath commented on #39
I ended up using decache module to create a unique driver object eachtime the module is required. Not sure if there is a better method

[2018-12-12 16:53] tassoevan opened #41 "Sinon version is outdated"
Project version for `sinon` is `4.4.2`, while the latest is `7.2.2`. This logs some warnings during `yarn install`:

    npm WARN deprecated text-encoding@0.6.4: no longer maintained
    npm WARN deprecated samsam@1.3.0: This package has been deprecated in favour of @sinonjs/samsam

[2018-12-12 17:31] #38 closed

[2019-02-05 18:33] tassoevan opened #56 "LivechatClient.onTyping() not triggered on timeout"
If the user disconnects, `LivechatClient.onTyping()` is not triggered informing the typing has ended.

[2019-02-18 11:25] uncledent opened #58 "Can't install the alpha version"
I get the following error in the bundler:

bundling failed: Error: Unable to resolve module `paho-mqtt/src/paho-mqtt` from `.../node_modules/@rocket.chat/sdk/lib/drivers/mqtt.js`: Module `paho-mqtt/src/paho-mqtt` does not exist in the Haste module map

React native

[2019-02-18 11:40] diegolmello commented on #58
@uncledent Try again using yarn.

[2019-02-18 15:55] uncledent commented on #58
@diegolmello  thank you, it worked

[2019-02-18 15:55] #58 closed

[2019-02-18 16:17] uncledent opened #59 "sdk.conect() - unhandled promise rejection when offline on react native"
[code]

This does work, when app is online, but if you start it offline, then there is an uncaught promise rejection, which can not be caught.

Any idea?

[2019-02-18 17:04] uncledent commented on #59
Sorry, my fault. It is OK. Thank you!

[2019-02-18 17:04] #59 closed

[2019-02-18 17:32] diegolmello commented on #59
@uncledent Have you checked our [React Native client](https://github.com/RocketChat/Rocket.Chat.ReactNative)?

It uses this SDK already: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L170

[2019-02-18 17:33] uncledent commented on #59
@diegolmello yes, thank you! We are doing own one as part of the product :)

[2019-02-18 18:06] diegolmello commented on #59
@uncledent Nice! Make sure to join #react-native channel at open server in order to receive updates.

[2019-02-19 20:47] uncledent opened #60 "methodCall not getting rejected"
React Native
When doing method call on being offline, the call never gets rejected.
[code]

It stays unresolved for ever. Any idea why?

[2019-02-19 21:16] uncledent commented on #60
I see that you reject if connection disconnected in ddp.send metjod

[code]
But the 'disconnected' event is never emitted

[2019-02-19 22:55] uncledent commented on #60
I also can't find the branch with the latest alpha version 25

[2019-02-20 00:01] uncledent commented on #60
I have fixed it here: https://github.com/uncledent/Rocket.Chat.js.SDK/tree/reject-on-ddp-close
Please tell me the branch to make a pull request to

[2019-02-20 01:38] diegolmello commented on #60
@uncledent Nice! Open to `multiple-clients`

[2019-02-20 08:21] uncledent commented on #60
@diegolmello i have created a pull request: https://github.com/RocketChat/Rocket.Chat.js.SDK/pull/61

I would really appreciate if you could push today a new version to the npm as a new alpha! Thank you in advance!

[2019-02-26 19:37] juliomac commented on #17
Have you guys seen this DDP option?
[https://github.com/Gregivy/simpleddp](url)

Forum discussion here: [https://forums.meteor.com/t/new-js-ddp-client-simpleddp/46488/28](url)

[2019-02-26 19:44] juliomac opened #65 "No DDP/Asteroid dependency for connection from another Meteor app"
This is a bit different from #4 , #13 and #17 .Meteor written apps already come with DDP.

What is the best approach for a Meteor app to connect to Rocket.Chat does it need SDK at all? What would be the collections to subscribe, interact with LiveChat, methods, etc... ?

Could a version of SDK be easily stripped down from Asteroid?

[2019-02-28 15:14] knrt10 opened #66 "Local Setup"
I am trying to run this repo locally. I have started the [Rocket.Chat](https://github.com/RocketChat/Docker.Official.Image) client locally using their dockerfile and is running on `localhost:80`. Now when I try to start `Rocket.Chat.js.SDK` using `.env` file. It is not using the env variables when I do `yarn start`.

I have placed my `.env` file in root folder and it contain

[code]

Fix is `requi

[2019-02-28 15:56] knrt10 commented on #11
On it, working on this

[2019-02-28 16:26] knrt10 commented on #11
@timkinnane just one question, should we filter inside `lib/driver.ts`? I was thinking maybe like there should be a function `filter(...keys: string[])` that would take any number of arguments and would filter what user wants. And user can use them on client side like `driver.connect(filter(["password", "username"]))`. What do you think?

[2019-02-28 16:47] uncledent opened #68 "Socket keeps closing on ios release build"
On release build on iOS the socket stays active for like 45 seconds and then gets closed with 1001 error. On Debug build everything is fine, connections stays open. Interestingly ping/pong does not stop....

Any idea? I spent a whole day on this and can't find out any reason for this....

Any help will be appreciated.

[2019-03-01 10:48] uncledent commented on #68
So I found out, that this is an implementation problem. Pings are lost. Probably my PR has a fault on this. I will fix it and update the Pull Request.

[2019-03-01 15:09] knrt10 commented on #66
Solved

[2019-03-01 15:09] #66 closed

[2019-03-01 15:12] knrt10 commented on #8
Would like to fix this.

[2019-03-08 04:42] iconist commented on #68
any update on this? socket connection to my meteor app(rocket chat) keep on getting lost /close after a particular  time since from it found no change events (no new message) on listening event (streaming on message subscription)

[2019-03-08 04:43] iconist opened #70 "Connection to driver getting lost/disconnected automatically"

[2019-03-11 10:55] uncledent commented on #68
@iconist  for me the problem was that the sdk.connect call was called twice with 20ms difference, which caused a double initialization of Socket. So it pinged a wrong one.

[2019-03-11 13:41] galr52 opened #71 "Asteroid connection timeout"
rocketchat version: 0.48
SDK version 0.2.9-2

i am trying to connect using the sdk but getting connection timeout

my code:
`const { driver } = require('@rocket.chat/sdk');

const conn = await driver.connect( { host: 'rocket.chat', useSsl: true})
`

error:
[connect] Timeout (20000)
Error: Asteroid connection timeout

EDIT:

the problem was with windows 7, when i tried in ubuntu it worked perfect

[2019-03-11 15:03] #71 closed

[2019-03-19 12:27] juliomac commented on #65
Allow me to answer my own question.

In a Meteor app, just use the DDP library.

First create the DDP connection:

       var conn = DDP.connect( HOST );

For Login:

     const myuserId = DDP.loginWithPassword(conn, {username: USER}, PASS, function (error, result) {
      	if (!error) { DO SOMETHING }
         else { console.log("this is error from Login:/n", error);}
      });

For subscribe:

[2019-03-19 12:27] #65 closed

[2019-04-17 11:49] zenithc-esd opened #77 "Implement SDK to React Native Project"
Hi,

I found unable to resolve module in react-native project.

It is the dependency list in my project ,
    "react": "16.8.3",
    "react-native": "0.59.4",
    "@rocket.chat/sdk": "^0.2.9-2"

below is the error message shown
<img width="307" alt="Screenshot 2019-04-17 at 6 25 20 PM" src="https://user-images.githubusercontent.com/49260708/56285380-a7f6ff80-6149-11e9-8c84-0d1d376c8e3a.png">

plea

[2019-04-30 07:16] MrEscaGreenwing opened #80 "Livechat: Confusion over bots, agents and departments"
Hi,
I'm trying to write my own adapter that logs in as a bot user (livechat agent) and handles the requests of guests. The bot is part of a _BOT_ department. Furthermore I have a service worker account (also livechat agent) in a _SERVICE_ department that shall take over the chat/room as soon as the bot can't help the visitor.

Until yesterday my bot was able to manage multiple requests of differen

[2019-05-08 06:36] krishnaprasadhg commented on #80
Hello,

Could you please help with api for transferring bot session to live chat agent?
i'm calling room.forward (Sample one is below). but session not transferring to live agent.

curl -H "X-Auth-Token: 9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq" \
     -H "X-User-Id: aobEdbYhXfu5hkeqG" \
     -H "Content-type: application/json" \
     http://localhost:3000/api/v1/livechat/room.forward \
     -d

[2019-05-13 15:17] krishnaprasadhg opened #81 "Transfer or forward chat session to Live Agent"
Hello,

I'm trying to transfer or forward the session to Live Agent. But session is not getting transferred. Please help me. bot Source code is as below.

I'm calling APIs to create a live chat room with live agent(which is successful), but forward or transfer session is not happening.
---------------------------------
const { driver } = require('@rocket.chat/sdk');
// customize the following with

[2019-05-13 16:19] renatobecker commented on #81
What happens after calling `room.transfer` endpoint?
Did you get any error?

[2019-05-14 05:18] krishnaprasadhg commented on #81
I'm getting the below error while getting the X-Auth-Token
(curl" http://localhost:3000/api/v1/login -d "user=ServiceDesk&password=ServiceDesk")

Here ServiceDesk is bot. I tried with admin credentials also.. same error...

Error: socket hang up
    at createHangUpError (_http_client.js:323:15)
    at Socket.socketOnEnd (_http_client.js:426:23)
    at Socket.emit (events.js:194:15)
    at endReada

[2019-05-14 13:07] renatobecker commented on #81
The error is not related to SDK stuff, right?

[2019-05-16 06:30] MrEscaGreenwing commented on #80
An update to version 1.0.3 of the Rocket.Chat-Server seems to have fixed this error. That's why I'm closing the issue.

[2019-05-16 06:30] #80 closed

[2019-07-03 12:42] vinithreddy3 opened #83 "WebSocketEvent closed code 1000"
I'm receiving following warnings " Unhandled promise rejections: WebSocketEvent{......} " with below code at the end , Any help will be appreciated.

------------
 "timeStamp": 1562155511659,
  "type": "close",
  Symbol(stop_immediate_propagation_flag): false,
  Symbol(canceled_flag): false,
  Symbol(original_event): WebSocketEvent {
    "code": 1000,
    "reason": "Normal closure",
    "type": "c

[2019-08-01 12:00] taraa62 opened #84 "How change host for "api""
I want to create a new closed group in a rocket and for this I understand it should use "api.post"
But all requests go to "http: // localhost: 3000 / api / v1"
For change I used:
[code]
But it doesn’t want to do anything at all ..
How can I create a new group and add a person there? or how can this be sent via driver

[2019-08-01 12:15] #84 closed

[2019-08-01 12:31] taraa62 opened #85 "How I can to create new group?"
I use it for create a new group via "api"
[code]
And I get error:
[code]
If I use `driver.login`  - it is ok.
How I can create new group via bot user?

[2019-08-05 12:09] #85 closed

[2019-08-05 12:15] taraa62 opened #87 "How I can to change host?"
"@rocket.chat/sdk": "^1.0.0-alpha.28"
I use this:

[code]

But, it don't change host:
[code]

[2019-08-06 13:02] beanhacker opened #88 "how can i develop from web？"
is it the browser api？

[2019-08-08 11:26] #87 closed

[2019-08-12 17:47] unexpand opened #89 "SDK api post returns undefined when error"
api
    .post("users.create", {
      name: data.name,
      email: data.email,
      password: data.password,
      username: data.username,
      roles: ["anonymous"]
    })
    .then(res => console.log(res))
    .catch(error => console.error(error));

I get the following error on logs generated by API but no way can I get a handle on error thrown, all I get is undefined.

[API] POST error (user

[2019-08-26 14:49] kakerduu opened #92 "Upload file header"
Greetings,

I'm using the POST API call to upload a file in rocketchat, which will be set as an icon, logo afterwards.

Problem is that the default POST call is using application/json, but the file, which is an image, should be treated as multipart/form-data file.

Any suggestions how to change the header in that call?

Thank you in advance.

[2019-09-04 11:46] MetaChrome opened #95 "Source code is outdated relative to the version used in React.Native"
It appears that ReactNative uses this library, however the version specified there is: 1.0.0-alpha.30.

The releases on this repo do not go all the way up there, and the version in the master branch is even lower. Can you specify on which branch or where the 1.0.0-alpha.30 that ReactNative is using?

[2019-09-17 14:27] Blackskyliner opened #96 "Bug: Generator functions result in a syntax error in IE11"
In regards to RocketChat/Rocket.Chat.Livechat#180 and a lookup at the current definition at https://github.com/RocketChat/Rocket.Chat.Livechat/blob/dev/package.json#L111

It seems as it is at least intended to support IE11, as far as the current browserlist definition goes.

Since the update to the latest Rocket.Chat Version, which features this new Widget, some customers of maintained sites are n

[2019-09-18 08:36] galshiff commented on #92
I need this too,
+1 for attention

[2019-09-20 09:22] martinlundin opened #97 "Does not work with react"
I get an error when including the rocket.chat/sdk in a react app.

Steps to reproduce:
`yarn create react-app testchat
``cd testchat
``yarn add @rocket.chat/sdk
`
open App.js and add:
`import { driver, methodCache, api } from '@rocket.chat/sdk'
`
Now when we run:
`npm start
`
there is this error:
[code]

What can I do to make this work together?
Thanks

[2019-09-20 14:35] martinlundin commented on #97
Same error when I try to import it to Vue/Nuxt.

To reproduce error:
`yarn create nuxt-app nuxttestchat`
open pages/index.vue and add:
`import { driver, methodCache, api } from '@rocket.chat/sdk'`
run:
`yarn run dev`
Same error as before with websocket http_parser.js

[2019-09-21 00:08] andrecavallari opened #98 "Need to subscribe to stream-notify-logged"
Well, I need to subscribe to stream-notify-logged listening to 'user-status', then I used the method:
`await driver.subscribe('stream-notify-logged', 'user-status')`
But, how to listen to the changes on this?

I tryed the following:
[code]
But only returns a string "id" when any user changes it's status

Any ideas??

[2019-09-21 14:40] andrecavallari commented on #98
Well, got this working, but I really think that should be improved the documentation, maybe latter I submit a PR improving this doc.

For anyone trying to do the same:

[code]

[2019-09-24 18:23] #98 closed

[2019-10-11 05:44] mriedmann commented on #89
Looks like the same problem i had months ago: https://github.com/RocketChat/Rocket.Chat.js.SDK/pull/79

[2019-10-14 21:15] andrewlorenz commented on #97
I had the same error too, and fixed it by updating your package.json entry for the sdk to this:
`"@rocket.chat/sdk": "1.0.0-alpha.30"`
This version is the one used by RC's own react-native client, and also worked for me when trialing with plain react.

[2019-11-08 06:56] iconist opened #99 "Driver login by token"
Is there a way by which I can login to driver via livechat visitor token .I mean something similar to accounts.loginbytoken method.
If it can be done, a visitor can subscribe to his room with an agent if the visitor sits somewhere else other than rocketchat say a visitor is a whatsapp user.

Idea is if at any time a whatsapp user needs to talk to an agent in rocketchat(something like an external g

[2019-11-21 10:35] syedamirali14 commented on #77
"@rocket.chat/sdk": "1.0.0-alpha.30",
kindly put this in your package.json file rather than other "@rocket.chat/sdk"

[2019-12-03 03:46] aswanyaugustine commented on #99
any help?

[2019-12-21 03:44] ghost commented on #85
Did this ever get resolved?

[2020-01-23 14:39] galshiff commented on #70
Same here with the api.
api.loggedIn() return true, but when I try to do api.get request it return error:
"you must be logged into do this".
Any help?

[2020-01-23 20:57] ohadetsion commented on #70
Same problem as @galshiff wrote..
Very strange because the api.loggedIn() return true so i think maybe there is a socket which got somehow disconneced ?
Help plz :)

[2020-01-31 13:18] waglik commented on #20
Hi. Is there an update on this? Any chance it will work in the future?

[2020-03-01 07:36] ramrami opened #109 "How to detect when close event is caused by expired login token ?"
How to detect when close event is caused by expired login token ?

[2020-05-06 18:08] aderbas commented on #85
I'm try to transfer guest-user from live chat with bot to especific departament.

[code]

Similar error
[code]

[2020-06-05 02:48] djlazz3 commented on #92
you can change the header by setting `api.basicHeaders['Content-Type'] = 'multipart/form-data; boundary='` however, im still trying to figure out how to generate the boundary part

[2020-06-05 03:04] djlazz3 commented on #92
although it may be technically possible to do this using the api interface, I ended up deciding to use the driver websocket interface, and it worked way better...

[code]
there are more fields that are allowed, these are just the ones that i used, for the full list of fields, take a look at https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/e507e86faf049751218a08f6488545ec77d33309/src/config/me

[2020-06-05 03:07] djlazz3 commented on #22
just a note, i was able to get that "upload" functionality with just `driver.sendMessage()` like so...

[code]
this helped me figure this out:
https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/e507e86faf049751218a08f6488545ec77d33309/src/config/messageInterfaces.ts#L3

[2020-06-05 11:21] emikolajczak opened #112 "Logs flooding by canAccessRoom method"
Hello,
We are trying to do performance tests in our Rocket.Chat installation.
To do that, we created bots using Rocket.Chat.js.SDK to simulate message senders and receivers. Bots are in pairs which means one bot always sends message exactly to the same receiver:
1) Sender_A sends message to Receiver_A
2) Sender_B sends message to Receiver_B
3) Sender_C sends message to Receiver_C
...
n) Sender_XXX

[2020-06-12 06:56] cuonghuunguyen opened #114 "[BUG] Reopen the connection causes duplication of messages"
### Description
When the DDP connection to the BOT gets lost, the BOT will try to reopen the connection. When the connection is back, it will try to re-subscribe to the topics without unsubscribing the old ones. That can cause duplication of the message in the method `bot.respondToMessages()`
### Step to reproduce
* Run a bot which replies the incoming messages with `respondToMessages()` method
*

[2020-09-14 08:23] nivoliev commented on #92
@djlazz3 can you be a bit more specific about the "File goes here" part ? I'm trying to simply post an image, I thought I got it to work with a message of the form :
[code]
but the android app does not handle data uris. I've tried since then to use an api post at `rooms.upload` but I can't get it to work, I get answered that application/json is not supported. I got it to work using curl or python

[2020-09-18 13:40] nivoliev commented on #92
I finally managed to upload using the following code. Note that this was done in the context of a hubot robot, and I finally used its integrated http client which is an instance of a [scoped-http-client](https://github.com/technoweenie/node-scoped-http-client), since the http client provided with this sdk messed up with the payload I built.

[code]

[2020-09-23 12:12] 1valdis opened #118 "The library should not be singleton"
It should be possible to create scoped instances of driver and api. It also should be possible to configure dynamically such thing as URL. Currently it's read once from environment and there's no way (which I could find) to change it or supply via some method. This makes working with this library very suboptimal in modular systems like Nest.js.

[2020-10-01 09:38] TBG-FR commented on #89
I have the same issue, using `hubot-rocketchat` which is just a "bridge" to the SDK

Code
[code]

Logs
[code]

I didn't added the permission to my bot, so it's normal that I get `success = false`, but I can't handle the error as I get and `undefined` object

[2020-10-08 06:38] MonsieurPatate opened #119 "driver.sendDirectToUser ERROR too-many-requests"
I'm trying to send broadcast notification in direct message via bot ([bot repository](https://github.com/RocketChat/hubot-rocketchat-boilerplate)):
[code]
In the administration panel I turned off all rate limiters, but every time I get an exception :

    isClientSafe: true,
    error: 'too-many-requests',
    reason: 'Error, too many requests. Please slow down. You must wait 54 seconds before try

[2020-10-16 19:48] 4e554c4c opened #120 "Support for reauthenticating when 2fa fails"
I wrote the following to give this functionality in my bot

[code]

[2020-11-17 19:15] felipetomm commented on #70
Same problem here.. my solution is add an event on_close in asteroid.ddp. This event call main function, and then, reconnect bot.
[code]

SDK ver. 0.2.9-2

[2020-11-18 12:58] felipetomm opened #122 "SDK (0.2.9-2) reactToMessages break in RocketChat 3.8.0"
**SDK Version: 0.2.9-2**

As related in RocketChat repo, that issues [19566](https://github.com/RocketChat/Rocket.Chat/issues/19566), [19567](https://github.com/RocketChat/Rocket.Chat/issues/19567) and [19433](https://github.com/RocketChat/Rocket.Chat/issues/19433), the last stable version of RocketChat (3.8.0), has break the SDK.
Two points are related above. Firstly, the **message** param of **r

[2020-11-25 04:43] mose commented on #122
Tested it and it works great. Are you going to make it a PR?

[2020-11-25 13:45] felipetomm commented on #122
@mose , i can make.
But, i think that repo are "non official" discontinued. Because of this, i need urgently apply that fix in a fork of SDK and publish them to npm.

[2020-11-26 10:12] ataraxus commented on #122
So, rocket.chat doesnt revert their breaking change? and everybody has to somehow patch their infrastructure?

[2020-11-26 11:36] felipetomm commented on #122
@ataraxus , our RC has updated from 3.8.0 to 3.8.1 and the problem persist.

[2020-11-28 19:28] mose commented on #122
@felipetomm : Make the PR, we can nag @timkinnane and @Sing-Li on bbot channel on rocket.chat rocketchat and even discuss about the future of this repo.

[2021-01-09 17:30] benwick commented on #122
So, the SKD is practically dead with new versions of Rocket.Chat server? :(

[2021-01-12 13:11] AvivBenShoham commented on #89
Did you solve it?

[2021-01-15 21:30] suranc commented on #122
I submitted #127 which resolves this issue.  It contains @benwick's fix, a fix to reactToMessages as well as a build of the new version.

[2021-01-28 19:05] benwick commented on #122
@suranc Nice. But it seems that nobody cares for the SDK or our bots for automation... 😢

[2021-01-28 19:26] ataraxus commented on #122
yes this is quite a bummer, breaking a lot of users software and now workable way out ...

[2021-01-28 20:17] suranc commented on #122
Yeah seems like the contributions are getting ignored @benwick.  Hopefully we can get something merged, but it feels like there's enough users to justify a fork if this repo itself is truly dead.

[2021-01-28 22:25] timkinnane commented on #122
Hello - I'm the original creator of the SDK. Unfortunately not here to offer a solution, but to encourage the idea of a community fork. AFAIK the Rocket.Chat team's objectives for the SDK are more around livechat agent support than custom bots, so it's hard to get or coordinate support - which is partly the reason I stopped working on it (two years ago).

If you have a resolution for the issue and

[2021-01-28 22:42] benwick commented on #122
Then they should close this project... But it is still here and officially documented. The most important issue now is a working npm package for integration. Is a community fork helping with this?

[2021-01-28 22:53] timkinnane commented on #122
A lot of the documentation is open source. It's there because it was contributed by the community. The core team don't have the resources to maintain or respond to every contribution or join every conversation and in my experience they'll avoid getting involved if it's not related to features in their next release.

I'm not making a judgement on that, but trying to give some context so people here

[2021-01-29 17:47] suranc commented on #122
I'd be willing to add people as collaborators to my fork at https://github.com/suranc/Rocket.Chat.js.SDK, or create a new GitHub organization for the purpose even.  In the meantime I can work on getting a build of my fix published to npm since it seems not having that is pretty universally the biggest blocker for people.

Does that sound good to everyone?  If so and you want to be a collaborator,

[2021-01-29 23:44] benwick commented on #122
I think a working npm package is the most important important issue right now.

[2021-01-30 10:24] ataraxus commented on #122
@suranc count me in, i'll try to support you guys.
Either we get this fixed or we need to switch to mattermost.... always sad to see projects to abandon community which helped for free

[2021-01-30 11:30] Sing-Li commented on #122
@timkinnane  Great to see you in action again!   Welcome back :wave:    Rocket.Chat has grown and changed a lot since we last met and worked together.  And while what you described might have been  the case for the past number of years, it is about to change completely.

@suranc @benwick and @ataraxus   there is no need to incur the extra overhead of a remote fork which will have to be kept synchr

[2021-01-30 13:12] benwick commented on #122
Well @tiagopaixao, somebody needs to merge #127 and release a new version and npm package - to get all our precious bots working again.

[2021-01-30 13:16] tiagopaixao commented on #122
Hi @benwick! I'll put this in my next meeting agenda! Just after that, I'll make you know. Tks for your contribution.

[2021-02-01 06:17] suranc commented on #122
@Sing-Li glad to hear that maintenance will resume on this SDK project!  I would definitely prefer to not have to maintain a fork, and it's better for the code to exist close to the project and in the same GitHub organization.

@tiagopaixao nice to meet you!  Looking forward to hear the outcomes of your meeting, but especially looking forward to getting a working fix (PR #127 or equivalent) merged

[2021-02-01 18:31] ggazzo commented on #122
hi guys, there is no good explanation for this kind of problem, sorry, the truth is that we started a development in another branch, and we deal with it as an experimental, but we are using it has been a few years (but we never merged to master to not disturb you). We have plans to combine everything we have learned and finally release an official version 1.0. We would love to use the sdk together

[2021-02-01 19:04] ataraxus commented on #122
I dont get what you are trying to say? What I am understanding that there will be no fix for this issue?

[2021-02-01 19:08] benwick commented on #122
Same here. Is it discouraged to implement a chat bot with this SDK? Is it possible to implement a chat bot with the app API? I think there should be some clear answers.

[2021-02-01 20:11] ggazzo commented on #122
sorry, trying to be more direct: we will accept and launch the proper fix for this problem and for other things related to bugs (BUT this does not mean that this behavior will be valid for all occasions) we have no plans for a development focused on bots ( not so far).

Today the most robust and encouraged way is via apps.

[2021-02-01 20:12] ggazzo commented on #122
ps: everything I have written so far is the current state, but there is nothing written in stone, we will raise and discuss the current situation, and try to promote a better outcome.

[2021-02-01 20:18] ggazzo commented on #122
@benwick me as a developer (not as a rocket.chat developer) knowing platform limitations and possibilities/resources, I would suggest you to use the app platform.

[2021-02-01 20:25] benwick commented on #122
@ggazzo as a developer, I try to automate many things. To have the bot code and the server for various automation requests in the same place and repo makes my live easy. With an app most of these things wouldn't work out.

[2021-02-12 16:54] suranc commented on #122
@tiagopaixao do you have any update and timeframe around this? This is still blocking a very large amount of people.

[2021-02-12 16:58] tiagopaixao commented on #122
Hi! @ggazzo can you help us?

[2021-02-13 09:00] benwick commented on #122
I thought the critical and breaking character of this bug was clear enough. I think, a temporary and working npm module should be on the table again, if the rocket.chat devs are not able or willing to release a fix...

[2021-02-13 09:46] benwick commented on #122
On a broader note: to deploy your bot with a Rocket.Chat app is a very limited experience. You even can't use npm packages... See this [issue](https://github.com/RocketChat/Rocket.Chat.Apps-engine/issues/56). As long as this limitation persists I don't see the app engine as a real alternative to the SDK. Please consider this when planning the future of this repo...

[2021-02-15 21:33] suranc commented on #122
@benwick I agree, going down the community fork road is looking like the most viable again.  I realize that @Sing-Li promises greater support around this, and a community fork is not ideal, but nothing seems to have changed.  Thankfully we can simply hold back on updating Rocket.Chat as we're not already on the breaking version, but if we're compelled to update Rocket.Chat before this is fixed it

[2021-03-19 19:51] yuriyo opened #130 "new structure of rocketchat api"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@rocket.chat/sdk@0.1.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-03-19 21:58] felipetomm commented on #130
@yuriyo , please verify this issue with RocketChat version 3.12.0 or above. In this release, that structure has rollbacked :)

Here our solution is in production with oficial SDK (without changes).

[2021-06-11 07:32] officialabdulrehman opened #136 "driver.connect() not working"
Hi there! I hope you are having a nice day.

I have been trying to use @rocket.chat/sdk in my React app.

### SERVER DETAILS

Deployment
Version
3.15.0
Deployment ID
RFJ4fpYQA2vC2cNLA
Apps Engine Version
1.26.0
Node Version
v12.22.1
Database Migration
225 (June 11, 2021 9:25 AM)
MongoDB
4.0.24 / mmapv1 (oplog Enabled)
Commit Details
HEAD: (55457025d)
Branch: HEAD
PID
23

I have been able to intera

[2021-06-11 09:52] HarrisDePerceptron commented on #136
@officialabdulrehman can you mention the server version and the sdk version that you are using. this seems to be a problem while using it in `React`.

[2021-06-13 15:15] UmerQadri opened #137 "Unexpected token o in JSON at position 1"
I am using Rocket Chat in react native app, while trying to login rocket chat with resume token, its returning this error:

`Unexpected token o in JSON at position 1`

It seems working fine with build but in development, this causing error in both iOS and Android.

(Note: I am using mobile branch which is being used by the open source Rocket Chat React Native App)

[2021-06-19 21:46] celaus opened #138 "Maintenance?"
Hi - it looks like a lot of the integrations are being abandoned (i.e. all bot sdks/integrations). Would anyone be able to elaborate on the plans of maintaining (or at least merging the 24! PRs, I guess)?

Thanks - Rocket chat looks great, but bots/other integrations are important for our use case...

[2021-07-06 20:14] solanha1999 commented on #22
Hi @djlazz3 I wanna know how a get the file to upload I tryed to put the directory path to file, but it didn't work, it sent its own string path. Could you help me please?

[2021-07-07 13:35] felipetomm commented on #22
@solanha1999 , you could make the upload with [api/v1/rooms.upload/:rid](https://developer.rocket.chat/api/rest-api/endpoints/rooms/upload). In the same request, you can send an message, or, after this, you have the path of file hosted on server, and you can send an message separately.

The attachments prop is only an path to an file. The path of the file can be a external and acessible link or an

[2021-07-09 17:34] solanha1999 commented on #22
@felipetomm Thanks thats great, but i dont know how do i do that (https://developer.rocket.chat/api/rest-api/endpoints/rooms/upload#example-call) in nodeJS i use the curl conversor (https://onlinedevtools.in/curl), but it don't work.
Do u know what i can do?
I thank you in advance!

[2021-07-11 03:35] felipetomm commented on #22
@solanha1999, the code converter result that's incomplete, in node you need to use something like a form-data. Can you see more [here](https://stackoverflow.com/questions/40131060/node-js-multipart-form-data-local-file-upload-to-api), has an example of upload local file to an POST API using form-data. I use this method and is functionally.
I hope that you get it :)

[2021-07-12 20:10] solanha1999 commented on #22
Sorry @felipetomm, but It's not working for me here's my code:
![image](https://user-images.githubusercontent.com/86743159/125349291-be459300-e333-11eb-8157-673cd6aacf91.png)
do u know what I'm doing wrong?

[2021-07-13 16:43] felipetomm commented on #22
In my case i use axios to make a post.
I think that you need to specify form-data in headers, something like this:
[code]
Try this, and if is possible, post the status code or result from your try

[2021-07-13 17:29] solanha1999 commented on #22
@felipetomm thanks, my code works very well, i just have to add the Room or User ID to work, so now i trying to get the User and Room ID by the function getDirectMessageRoomId and getRoomId, that returns a [object Promise]

[2021-07-13 17:38] felipetomm commented on #22
if return a **[object Promise]**, use **await** before call method:
[code]

[2021-07-13 18:01] solanha1999 commented on #22
Thank you!!!! That's work very well!!!

[2021-07-13 20:25] solanha1999 opened #140 "Does SDK have how to download files to a local path?"
I would like to know if there is a way to download files (or audios) sent by someone else in rocket chat?
I would also like to know how could I identify the message type? (audio, file or text)

Thanks in advance!

[2021-07-13 21:20] felipetomm commented on #140
SDK doesn't have an method to download a file.
In message incomming in your respond messages function (`driver.respondToMessages(your_func)`) you can debug the message object. When an message with files/attachments are incomming, you can download this.
The method for download can require auth or no, depends on your server config here: `Administration / File Upload / Protect Uploaded Files`.
![imag

[2021-07-16 16:41] solanha1999 commented on #140
Thanks again @felipetomm

[2021-07-16 16:41] #140 closed, assigned to nobody

[2021-10-06 20:20] tolulope-od commented on #89
Has anyone been able to solve this issue.

[2022-02-23 09:58] eloo opened #152 "Use SDK with personal access token"
Hi,

i'm trying to get the sdk running with personal access token but it seems not to work.
Is this a bug?
Or should it be just not be possible to use the access token for the real-time api?
At least this seems not be document anywhere

Thanks

[2022-02-23 11:04] eloo commented on #152
At least in the Golang SDK i found an option to use the userId and token directy.
Seems like this is missing here?

[2022-04-06 10:10] serjk commented on #152
Hi @eloo
It's weird and just workaround but you can use setAuth  from api file after that call get/post functions to check your token. I've tested  this approach and it works.
https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/master/src/lib/api.ts#L57

[2022-05-03 13:40] #130 closed, assigned to nobody

[2022-05-19 07:07] mmaass commented on #138
Yesterday in the community open call they (Guilherme Gazzo) said they are moving to a "monorepo". As soon as their "internal SDK" reaches parity regarding features with this repo (Rocket.Chat.js.SDK) they plan to deprecate it.

@RC: Feel free to correct me here.

[2022-05-19 13:16] ggazzo commented on #138
we want to keep all the sdk "common" capabilities (used cross client applications under the  monorepo).
but  we know this library is common used for bots proposing and there are features that makes only sense for that case.

So I would say we are going to move this repository from `Rocket.Chat.js.SDK` to `Rocket.Chat.BOT.SDK` (or something like that) soon.

@mmass you can use: `@`  +  `github_user

[2022-05-19 15:15] mmaass commented on #138
@ggazzo i had no one particular in mind to notify. Thanks for your confirmation of the roadmap for this repo.

[2022-06-27 16:40] sidmohanty11 opened #154 "BUG: RC node.js SDK deps use `eval` statements"
I am working on the [EmbeddedChat project](https://github.com/RocketChat/EmbeddedChat). I am using Rocket.Chat Nodejs SDK `v1.0.0-alpha.42`. I've polyfilled all nodejs packages (around 40) which were causing errors when bundling with Rollup. But after that, there was one warning left with `use of eval is strongly discouraged`, It is coming from `js-sha256` package, [linked issue](https://github.co

[2022-06-30 14:08] sidmohanty11 commented on #154
@diegolmello could you please take a look? We are using js-sha256 as a dependency which is causing this warning. This has been deprecated.

[2022-09-04 15:05] #22 closed